.icon-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coin{
    font-size: 130px;
    color: #fff;
}
.text-slider{
    margin-bottom: 40px;
    color: #fff;
}
.carousel-indicators{
    margin-bottom: initial !important;
}
.img-coin-crypto{
    width: 130px;
    height: 130px;
}
